.slideimg1 img{
    margin-left: 0px;
}
.slideimg1 h2{
    color: #15374B;
    font-weight: 500;
    font-size: 23px;
    font-family: sans-serif;
}
.slideimg1 p{
    color: #7A7A7A;
    font-family: "work Sans",sans-serif;
    margin-right:0px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.2px;
}
.Buttonslide1 {
    margin-top: 50px;
    display: flex;
}
.btnslide1 a{
    background-color: #f16853;
    color: white;
    height: 80px;
    width: 190px;
    margin-left: 15px;
    padding: 15px 20px;
    font-size: 17px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: "Work-Sans", sans-serif;
    font-style: normal;
    border-radius: 6px; 
}
.btnslide1 a:hover{
    color: #FFF;
    background-color: #15374B;
    text-decoration: none;
}
.Linkslide1 a{
    margin-left: 30px;
    color: #7A7A7A;
    font-size: 17px;
    text-decoration: none;
    font-family: "Work-Sans", sans-serif;
    font-style: normal;
    
}
.Linkslide1 a:hover{
    color: #f16853;
    text-decoration: none;
}
.Linkslide1{
    margin-bottom: 25px;
}