/* Menu Name & image bar */
.Navbar {
    width: 100vw;
    height: 100vh;
}
.Menu_Name{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #153748;
    transition:  border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    font-family: "Work Sans", Sans-serif;
    position: relative;
}
.Menu_Name .name {
    flex: 50%;
    color: #FFFF;
    text-align: left;
    font-family: sans-serif;
    text-decoration: none;
    font-style: normal;
    position: relative;
}
 
.name h1{
    font-size: 44px;
    font-weight: 540;
    letter-spacing: 6.0px;
    padding-top: 170px;
    padding-left: 150px;
}
.name h5 {
    font-size: 18px;
    margin-top: 0;
    padding-left: 150px;
}
.Menu_Name .img{
    position: relative;
    height: auto;
    padding-right: 150px ;
}

/* Latest News & Footer*/
.News {
    position: relative;
    box-sizing: border-box;
    margin-top: 50px ;
    margin-left: 150px;    
    width: 1730px;
    height: 700px;
    background-color: #f16853;
    color: #FFF;
}
.NewsHead {
    display: flex;
}
.leftNews {
    padding-left: 60px;
    padding-top: 25px;
    width: 350px;
    height: 120px;
    position: relative;
    box-sizing: border-box; 
    background-color: #15374B;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 5.8px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}
.rightNews {
    padding-top: 20px;
    padding-left: 900px;   
    text-align: right;
}
.FaRegNewspaper {
    height: 28px;
    width: 28px;
}

.rightNews a {
    font-size: 28px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    font-weight: 550;
    font-style: normal;
    background-color: #f16853;
    color: #FFF;
  }
 
.rightNews a:hover{
    background-color: #f16853;
    color: #FFF;
}

.rightNews a.active_class {
    background-color: #f16853;
    color: #FFF;
}
.Newsinfo {
    display: flex;
    box-sizing: border-box;
}
.News1 {
    float: left;
    padding-top: 150px;
    padding-left: 60px;
    height: 200px;
}
.News1 a{
    font-size: 25px;
    line-height: 0.7;
    letter-spacing: 0.9px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    font-weight: 600;
    font-style: normal;
    background-color: #f16853;
    color: #FFF;
}
.News1 a:hover{
    background-color: #f16853;
    color: #FFF;
}

.News1 a.active_class {
    background-color: #f16853;
    color: #FFF;
}
.News2 {
    float: left;
    padding-top: 150px;
    padding-left: 150px;
    height: 200px;
}
.News2 a{
    font-size: 25px;
    line-height: 0.7;
    letter-spacing: 0.9px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    font-weight: 600;
    font-style: normal;
    background-color: #f16853;
    color: #FFF;
}
.News2 a:hover{
    background-color: #f16853;
    color: #FFF;
}
.News2 a.active_class {
    background-color: #f16853;
    color: #FFF;
}
.News3 {
    float: left;
    padding-top: 150px;
    padding-left: 200px;
    height: 200px;
}
.News3 a{
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    letter-spacing: 0.9px;
    line-height: 0.7;
    font-weight: 600;
    font-style: normal;
    background-color: #f16853;
    color: #FFF;
}
.News3 a:hover{
    background-color: #f16853;
    color: #FFF;
}

.News3 a.active_class {
    background-color: #f16853;
    color: #FFF;
}
.date {
    font-size: 21px;
    font-family: "Work Sans",sans-serif;
}
.read a{
    padding-left: 0px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    letter-spacing: 1.0px;
    font-style: normal;
    background-color: #f16853;
    color: #FFF;
}
.read a:hover{
    background-color: #f16853;
    color: #FFF;
}

.read a.active_class {
    background-color: #f16853;
    color: #FFF;
}
.Footer {
    height: 680px;
    margin-top: 80px; 
    border-top: 1px solid #ebe9e9;
}

.Container1{
    display: flex;
}
.Cleft {
    float: left;  
    border-right: 1px solid #ebe9e9;
    height: 330px; 
}
.top {
    margin: 0%;
    padding-left: 140px ;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebe9e9;
    width: 500px;
}
.top img {
    margin: 0%;
    padding: 0%;
}
.top  a{
    filter: brightness( 0% ) contrast( 200% ) saturate( 200% ) blur( 0px ) hue-rotate(134deg);

  }
.top  a:hover{
    filter: brightness( 101% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(0deg);

  }
.mid a {
    float: left;
    padding-left: 45px;
    padding-top: 0px;
    padding-right: 30px;
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    letter-spacing: 0.9px;
    line-height: 2.7;
    font-style: normal;
    color: #15374B;
    border-right: 1px solid #ebe9e9;
    height: 80px;
}
.mid a:hover{
    background-color: #FFF ;
    color: #f16853;
}

.mid a.active_class {
    background-color: #FFF ;
    color: #f16853;
}
.center a {
    float: left;
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 30px;
    font-size: 24px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    letter-spacing: 2.0px;
    line-height: 2.7;
    font-style: normal;
    color: #15374B;
    
}
.center a:hover{
    background-color: #FFF ;
    color: #f16853;
}

.center a.active_class {
    background-color: #FFF ;
    color: #f16853;
}
.Cmid {
    float: center;  
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #ebe9e9;
    height: 330px; 
}
.head {
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    letter-spacing: 1.0px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: #15374B;
}
.link {
    font-size: 20px;
    display: flex;
}
.leftlink a{
   margin: 0%;
   text-decoration: none;
   color: #061f2e;
}
.leftlink a:hover {
    color: #f16853;
    background-color: #FFF;
}
.leftlink hr{
    float: inherit;
    width: 300px;
    margin: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: #ebe9e9;
}
.rightlink a{
   margin-left: 20px;
   text-decoration: none;
   color: #061f2e;
}
.rightlink a:hover {
    color: #f16853;
    background-color: #FFF;
}
.rightlink hr {
   color: #ebe9e9;
   float: inherit;
   width: 300px;
   margin: 0%;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 15px;
}
.Cright {
    padding-left: 40px;
    padding-top: 20px;
}
.heading {
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    letter-spacing: 1.0px;
    line-height: 1.9;
    font-weight: 400;
    font-style: normal;
    color: #15374B;
}
.contactdetail {
    font-size: 18px;
    display: flex;
}
.numbers a{
    float: left;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #061f2e;
}
.numbers a:hover{
    color: #f16853;
    background-color: #FFF;
}
.numbers hr {
    float: inherit;
    width: 250px;
    margin: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: #ebe9e9;
}    
.place a{
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #061f2e;
}
.place a:hover{
    color: #f16853;
    background-color: #FFF;
}
.icons a{
    padding-left: 25px;
    color: #061f2e;
}
.icons a:hover {
    color: #f16853;
    background-color: #FFF;
}
.Container2 {
    display: flex;
    margin-top: 70px;
}
.Side1 a{
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.0px;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    color: #061f2e;
    font-weight: 400;
    font-style: normal;
}
.Side1 a:hover{
    color: #f16853;
    background-color: #FFF;
}
.bottom {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
    word-spacing: 1.0px;
    letter-spacing: 0.9px;
    font-family: "Work Sans", sans-serif;
    color: #918d8d;
}
.Side2 {
    margin-left: 50px;
    margin-right: 60px;
    font-size: 20.4px;
    line-height: 1.6;
    letter-spacing: 1.3px;
    word-spacing: 1.0px;
    font-family: "Work Sans", sans-serif;
    text-decoration: inherit;
    font-weight: 400;
    font-style: italic;
    color: #918d8d;
}

