
  img{
    position: relative;
    align-self: start;
    width:20rem;
    height: auto;
  } 
 .navbar-brand {
  width: 15rem;
  filter: brightness( 0% ) contrast( 200% ) saturate( 200% ) blur( 0px ) hue-rotate( 134deg );
}
.navbar-brand:hover{
  filter: brightness( 101% ) contrast( 200% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
  }

  .nav-link {
    align-items: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    color: rgb(122, 122, 122);
    text-align:end;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    max-width: 100%;
  }

  .active { color:#f16853;
  }

 .nav-link:hover{
   color:#f16853;
 }
 .dropdown-fix{
   max-width: 15rem;
 }