.newsmain{
    display: flex;
    width:100%
}
.newsleft{
    border-left: 1px solid #ebe9e9;
    margin-left: 150px;
    position: relative;
    color: #7A7A7A;
    letter-spacing: 1.9px;
    font-size: 35px;
    font-weight: 400;
    font-family: "Work-Sans", sans-serif;
    padding-top: 90px;
    padding-right: 05px;
    padding-left: 25px; 
    height: 200px;
    margin-left: 150px;
}
.emailtext{
    display: flex;
    position: relative;
    margin-top: -25px;
    margin-left: 0px;
}
.emailtext input{
    height: 50px;
    width: 550px;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 30px;
    border: 0.5px solid #ddd9d9;
}
.btnsend{
    margin: auto;
    margin-left: 0px;
}
.btnsend a{
    background-color: #f16853;
    color: white;
    height: 60px;
    width: 250px;
    margin-left: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: "Work-Sans", sans-serif;
    font-style: normal;
    border-radius: 6px; 
}
.btnsend a:hover{
    color: #fff;
    text-decoration: non;
}
.newsright{
    width: 405px;
    height: 200px;
    letter-spacing: 4.1px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #ea6657;
    margin-left: 135px;
    padding-left: 160px;
    padding-right: 142px;
    padding-top: 120px;
    color: #FFF;
}
.newsdesc{
    margin-top: 150px;
    margin-left: 150px;
    
}
.newsdeleft{
    display: flex;
}
.newsdesc1{
    padding-left: 0px;
    
}
.showcase a{
    font-size: 18px; 
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 2.4px;
    font-family: "Work Sans", sans-serif;
    color: #15374B;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 0px;
    
}

.showcase :hover{
   color: #15374B;
   text-decoration: none;
}
.commentdate1 a:hover{
    text-decoration: none;
    color:#f16853;
}
.commentdate1 h4{
    padding-top: 0px;
    color: #7a7a7a;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}
.commentdate1 p{
    color: #7a7a7a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.commentdate1 a{
    color: #ea6657;
    font-size: 14px;
    padding-left: 0px;
    text-decoration: none;
    margin-top: 20px;
}
.newsdesc2{
    padding-left: 100px;
}
.newsdesc3{
    padding-left: 100px;
}
.newsderight{
    display: flex;
    margin-top: 90px;
}
.newsdesc4{
    padding-left: 0px;    
}
.newsdesc5{
    padding-left: 70px;
}
.newsdesc6{
    padding-left: 120px;
}
.last{
   display: flex;
   margin-top: 90px;
}
.newsdesc7{
    padding-left: 0px;
}
.newsdesc8{
    padding-left: 70px;
}
.newsdesc9{
    padding-left: 120px;
}
