.TestimonialSlider{
  position: relative;
  margin: 0%;
  background-color: #FFF;
}

.Testimonial{
  display: flex;
  box-sizing: border-box;
  width: 1730px;
  height: 550px;
}
.TestimonialLeft{
  position: relative;
}
.textBlock{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45%;
  font-size: 30px;
  letter-spacing: 1.2vh;
  line-height: 1vh;
  background-color: #15374BDB;
  color: white;
  padding-left: 80px;
  padding-right: 20px;
  text-transform: uppercase ;
}
.TestimonialRight{
  position: relative;
  background-color: #f16853;
  color: #fff;
  padding-top: 180px;
  padding-left: 100px;
  padding-right: 100px;
  align-content: center;
}
.TestimonialRight p{
    font-size: 21px;
    letter-spacing: 0.5px;
    text-align: justify;
}
.TestimonialRight h5{
    margin-top: 60px;
    margin-bottom: 1.9%;
    font-size: 22px;
    letter-spacing: 0.9px;
    line-height: 0%;
}
.TestimonialRight span{
    font-size: 20px;
    letter-spacing: 1.5px;
}
.slick-prev {
  left: -52px !important;

}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow  {
  color: #f16853;
  font-size: 48px;
}

