.posters {
    position: relative;
    overflow: hidden;
  }
  
.posters img {
    display: block;
    overflow: hidden;
    width: auto;
    height: 400px;
    transition: all .5s ease-in-out;
}
.posters:hover img{
    width: auto;
    background-color:#f16853;
    transform: scale(1.2);
}
.overlay {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: #f8f4f4;
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}
  
  .posters:hover .overlay {
    height: 65%;
  }
  
.text {
    position: absolute;
    top: 58%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.text h4{
  position: relative;
        text-align: center;
        color: black;
        font-size: 22px;
  }
.text span{
      text-align: center;
      font-size: 15px;

      padding-bottom: 52px;
      color: #EA6657;
  }
.text p{
      text-align: center;
      text-transform: capitalize;
      font-size: 18px;
      letter-spacing: 0.2px;
      color: #7a7a7a;
  }
.icon{
    align-items: center;
    margin-top: 20px;
}
.icon a{
    padding-left: 25px;
    color: #061f2e;
}
.icon a:hover {
  
    color: #f16853;
    background-color: #f8f4f4;
}
.slick-prev {
  left: -52px !important;

}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow  {
  color: #f16853;
  font-size: 40px;
}
