.Heading-s{
    font-size: 18px;
    color: #15374b;
    margin-top: 25px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 25px;
}
.heading_white{
    font-size: 18px;
    color: #fff;
    margin-top: 50%;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 25px;
}
.Lists{
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    letter-spacing: normal;
    line-height: 21px;
    list-style-type: none;
    text-transform: none;
}
.Lists li:hover{
    color: #f16853;
}
.header_flex{
    position:relative;
    background-color: #15374b;
    color: #fff;
}
.poster_size{
    width:100%;
    position: relative;
    left: 0px;
}
.colbox{
    width: 100%;
    background-color:#eee;
    color:#fff;
    
}
.Header_element{
    position: relative;
    box-sizing: border-box;
    background-color: #f16853;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 5.8px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.cols{  
    font-weight: 400;
    hyphens: manual;
    letter-spacing: normal;
    line-height: 21px;
    list-style-type: none;
    text-transform: none;
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    display: block;
    font-family: "Work Sans", sans-serif;
    
}
.main_heading{
    
    font-family: "Work Sans", sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
}
.main_heading small{
    font-size: 0.8rem; 
    text-decoration: none;
}
.bottom_line{
    border-bottom: solid 5px;
}
.inline_heading{
color: rgb(21, 55, 75);
font-family: "Work Sans", sans-serif;
font-size: 1rem;
padding-left: 5rem;
margin-top: 4rem;
margin-bottom: 4rem;
font-style: normal;
font-weight: 500;
hyphens: manual;
letter-spacing: normal;
line-height: 2.1rem;
text-align: left
}

.nameabout{
    margin-left: 10%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.nameabout a{
    text-transform: none;
    text-decoration: none;
    color: #7A7A7A;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
 
    font-family: "Work Sans", sans-serif;
}
.nameabout hr{
    margin-bottom: 1rem;
   margin-left: 0rem;
    width: 70%;
}
.nameabout a:hover{
    color: #f16853;
}

.Search_text{
    color:#15374b;
    margin-left: 7rem;
    margin-right: 7rem;
}

/*For Home*/
.stetoscopeHome{
    position: relative;
    background-color:#15374b;
    width: 80%;
    height: 140px;
    margin: auto;
}
.stetoscopeHome img{
    width: 100px;
    margin: 20px;
       
}

.ambulanceHome{
    position: relative;
    background-color:#e12255;
    width: 80%;
    height: 150px;
    margin: 10%;
    padding-right: 50px;
}
.ambulanceHome img{
    width: 100px;
    margin: 20px;  
}

.icon_text_Home{
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    hyphens: manual;
    letter-spacing: -0.6px;
    line-height: 26px;
    position:absolute;
    top:30px;
    right: 0px;
    margin: 10px;
    text-align: justify;
}

/*for other page*/
.stetoscope{
    position: relative;
    background-color:#15374b;
    width: 80%;
    height: 200px;
    margin: 10%;
    
}
.stetoscope img{
    height: 160px;
    width: auto;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.ambulance{
    position: relative;
    background-color:#e12255;
    width: 80%;
    height: 200px;
    margin: 10%;}
.ambulance img{
    height: 160px;
    width: auto;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.icon_text{
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    hyphens: manual;
    letter-spacing: 0.8px;
    line-height: 30px;
    position:absolute;
    top:65px;
    right: 50px;
    margin: 10px;
    text-align: justify;
}

.left-Heading{
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    line-height: 33.6px;
    font-weight: 400;
    color: rgb(122, 122, 122);
    margin: 40px;
}
.left-Heading span{
    color:rgb(21, 55, 75);
}
.left-inlineHeading{
    box-sizing: border-box;
color: rgb(21, 55, 75);
display: inline;
font-family: "Work Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 21.6px;
}
p ,label{
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    margin: auto;
}


.Search input {
    white-space: nowrap;

    width: 80%;
    height: 15px;
    background-color: #EEEEEE;

    
}
.Search ::placeholder{
    font-size: 18px;
    color: #c0b5b5;
}

.Search {
    position: absolute;

}