.Heading-s{

    font-size: 18px;
    color: #15374b;
    margin-top: 25px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 25px;
}
.home_search{
    margin-left: 10px;
    border: none;
    background:none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    padding-left: 10px;

}
.search_box{
    padding: 15px;
    position: relative;
    left: 10%;
    width: 80%;
    right: 10%;
    background:none;
    color: #15374b;
    border:1px solid  #7A7A7A;
    border-radius: 4px;
    font-size: 12px;

}
.search_icons{
    position:relative;
    left: 0px;
    color: #7A7A7A;

}
.search_icon{
    position:relative;
    left: -35px;
}
.heading_white{
    font-size: 18px;
    color: #fff;
    margin-top: 50%;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 25px;
}
.Lists{
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    letter-spacing: normal;
    line-height: 21px;
    list-style-type: none;
    text-transform: none;
}
.Lists li:hover{
    color: #f16853;
}
.Li{
    color: #7A7A7A;
}
.Li:hover{
    color: #f16853;
    text-decoration: none;
}
.header_flex{
    position:relative;
    background-color: #15374b;
    color: #fff;
}
.poster_size{
    width:100%;
    position: relative;
    left: 0px;
}
.colbox{
    width: 100%;
    background-color:#eee;
    color:#fff;
    padding-bottom: 50px;
    
}
.Header_element{
    position: relative;
    box-sizing: border-box;
    background-color: #f16853;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 5.8px;
    text-align: center;
    padding: 60px;
    
}
.cols{  
    font-weight: 400;
    hyphens: manual;
    letter-spacing: normal;
    line-height: 21px;
    list-style-type: none;
    text-transform: none;
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    display: block;
    font-family: "Work Sans", sans-serif;
    
}
.main_heading{
    
    font-family: "Work Sans", sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
}
.main_heading small{
    font-size: 0.8rem; 
    text-decoration: none;
}
.bottom_line{
    border-bottom: solid 5px;
}
.inline_heading{
color: rgb(21, 55, 75);
font-family: "Work Sans", sans-serif;
font-size: 1rem;
padding-left: 5rem;
margin-top: 4rem;
margin-bottom: 4rem;
font-style: normal;
font-weight: 500;
hyphens: manual;
letter-spacing: normal;
line-height: 2.1rem;
text-align: left
}

.nameabout{
    margin-left: 10%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.nameabout a{
    text-transform: none;
    text-decoration: none;
    color: #7A7A7A;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
 
    font-family: "Work Sans", sans-serif;
}
.nameabout hr{
    margin-bottom: 1rem;
   margin-left: 0rem;
    width: 70%;
}
.nameabout a:hover{
    color: #f16853;
    text-decoration: none;
}

.Search_text{
    color:#15374b;
    margin-left: 7rem;
    margin-right: 7rem;
}

/*For Home*/
.stetoscope{
    position: relative;
    background-color:#15374b;
    width: 80%;
    height: 140px;
    margin: auto;
}
.stetoscope img{
    width: 100px;
    margin: 20px;
       
}

.ambulance{
    position: relative;
    background-color:#e12255;
    width: 80%;
    height: 150px;
    margin: 10%;
    padding-right: 50px;
}
.ambulance img{
    width: 100px;
    margin: 20px;  
}

.icon_text{
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    hyphens: manual;
    letter-spacing: -0.6px;
    line-height: 26px;
    position:absolute;
    top:30px;
    right: 0px;
    margin: 10px;
    text-align: justify;
}
.left-Heading{
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    line-height: 33.6px;
    font-weight: 400;
    color: rgb(122, 122, 122);
    padding: 60px;
}
.left-Heading span{
    color:rgb(21, 55, 75);
}
.left-inlineHeading{
    box-sizing: border-box;
color: rgb(21, 55, 75);
display: inline;
font-family: "Work Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 21.6px;
}
p ,label{
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    margin: auto;
}


.Search input {
    white-space: nowrap;

    width: 80%;
    height: 15px;
    background-color: #EEEEEE;

    
}
.Search ::placeholder{
    font-size: 18px;
    color: #c0b5b5;
}

.Search {
    position: absolute;

}

.posterform img{
    position: absolute;
    left: -20px;
    clip: rect(0px,380px,500px,25px);
    object-fit: cover;
    height: 100%;
    width:100%;
}


/*MAPS*/
.mapouter{
    border: #7A7A7A solid 1px;
    position:relative;
    text-align:right;
    width:auto;
    height:auto;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:auto;
    height:auto;
}
.gmap_iframe {
    width:100%!important;

    height:300px!important;
}
